<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>专卖商城 - iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
				<key>dateExpires</key>
				<string>2019/1/5</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DACircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MWPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NSString_Ruby.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealReachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C06909B7EB7C9D25D9E3505630712C6BDA4CFA1</string>
						<key>dateExpires</key>
						<string>2019/1/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UIAlertController_Blocks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z9Q5DTACHN</string>
						<key>name</key>
						<string>Beijing Yi Tong Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z9Q5DTACHN.yst-app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z9Q5DTACHN</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Z9Q5DTACHN.yst-app</string>
				</array>
			</dict>
			<key>name</key>
			<string>专卖商城 - iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>566afd66-696c-4e6c-b1d4-88e14b4e4f71</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: yst-app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z9Q5DTACHN</string>
				<key>name</key>
				<string>Beijing Yi Tong Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
